main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4vh;
    padding: 8vh 20px 0vh 20px;
}

.title {
    position: relative;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    color: #edf6f9;
}

#top-left-horizontal-line {
    position: absolute;
    top: 0;
    left: 0%;
    width: 10%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
}

#top-left-vertically-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 50%;
    background-color: white;
    opacity: 0.5;
}

#bottom-right-horizontal-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
}

#bottom-right-vertically-line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 50%;
    background-color: white;
    opacity: 0.5;
}



.photo-container {
    background: linear-gradient(to right, #0f20270e, #203a4331, #2c536449), url("/images/about-me.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.7;
}

.about-me-text-container {
    font-size: 1.4em;
    text-align: justify;
}

@media screen and (min-width : 320px) and (max-width: 1023px) and (orientation:landscape) {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 8vh 20px 0vh 20px;
    }

    .title {
        position: relative;
        text-align: center;
        width: 100%;
        font-size: 3em;
        letter-spacing: 2px;
    }

    .photo-container {
        height: 350px;
        width: 50%;
    }

    .about-me-text-container {
        width: 40%;
    }
}

@media screen and (min-width : 760px) and (max-width: 1023px) {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 8vh 20px 0vh 20px;
    }

    .title {
        position: relative;
        text-align: center;
        width: 100%;
        font-size: 3em;
        letter-spacing: 2px;
    }

    .photo-container {
        height: 500px;
        width: 50%;
    }

    .about-me-text-container {
        font-size: 1.6em;
        width: 40%;
    }

}


@media (min-width:1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 8vh 30px 8vh 30px;
        max-width: 1180px;
        margin: 0 auto;
    }

    .title {
        position: relative;
        margin: 0 auto;
        width: 100%;
        font-size: 5em;
        letter-spacing: 2px;
    }

    .photo-container {
        height: 400px;
        width: 40%;
    }

    .about-me-text-container {
        font-size: 2em;
        width: 40%;
    }

    #top-left-vertically-line,
    #top-left-horizontal-line,
    #bottom-right-horizontal-line,
    #bottom-right-vertically-line {
        display: none;
    }




}

@media (min-width:1280px) {}

@media (min-width:1600px) {}